HEADER{
background-color: #084B8A;
padding: 5px;
}
div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
BODY{
background-color:#D8D8D8;
margin: 0px;
border: 0px;
padding: 0px;
width: 100%;
}

.form{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #60a3bc;
    text-align: center;
  }

div input[type="text"],div input[type="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #4a69bd;
    padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  }
p{
font-family:  "Montserrat", sans-serif;
}




}
