body{
margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #0a3d62;
}
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box
