.curso{
margin: 2em;
width: 15vw;
height: auto;
}

.elemento{
  width: auto;
  height: auto;
}

.pieTitular{
  width: auto;
  height: 2vh;
}

.flex-container{
  display: flex;
flex-wrap: wrap;
}


.flex-container > b{
  border: 0;
  border-radius: 8px;
  padding: 1px 25px;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  cursor: pointer;
}
