.curso{
margin: 2em;
width: 15vw;
height: 50vh;
}

.elemento{
  width: 15vw;
  height: 50vh;
}

.pieTitular{
  width: auto;
  height: 2vh;
  background-color: black;
  text-align: center;
}

.flex-container{
  width: auto;
  display: flex;
  float: left;
}


.flex-container > div{

}

.editador{

}


.borrador{
  
}
