BODY{
background-color:#D8D8D8;
margin: 0 0 0 0px;
}

#registro{
  width:30%;
  position: relative;
  left:35%;
}


#form{
  text-align: center;
    border-color: black;
    border-width: medium;
    border-style: solid;
    background-color: white;
    border-radius: 24px;
  }

div input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 40px;
    outline: none;
    color: red;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }

div input[type="text"],div input[type="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #000000;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  }

div input[type="text"]:focus,input[type="submit"]:focus,div input[type="password"]:focus{
width: 280px;
border-color: #2ecc71;
}

p,h1{
font-family:  "Montserrat", sans-serif;
}

FOOTER{
font-family: "Lato", sans-serif;
font-size: 12px;
color: gray;
background-color: #A4A4A4;
text-align: center;
}

}
