.header{
text-align: center;
height: 340px;
padding: 12px;
background-size: 300px 50px;
background-image: url('../../vistas/recursos/textura.png');
background-color: black;
}
.avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clear: both;
}
.user-name{
font-size: 18px;
margin-top: 14px;
color: white;
}
.infogen{
  list-style: none;
  text-align: center;
  padding: 0;
  color: white;
}
.infogen li{
  display: inline-block;
  margin: 5px;
}
input{
position: absolute;
top: 1rem;
right: 1rem;
border: 0;
border-radius: 8px;
padding: 12px 25px;
background-color: rgba(0, 0, 0, .5);
color: #fff;
cursor: pointer;
}
botones{
  
}

@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}
