body{
  margin: 0px;
  color: #797979;
background: #ffffff;
font-family: 'Open Sans', sans-serif;
}

HEADER{
  width: auto;
  height: 6vh;
  background-color: #084B8A;
  color: black;
  position: -webkit-sticky; /* Safari navegador, para que sirva en IOs */
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 5px;
}

HEADER img{
  width: auto;
  height: auto;
}

FOOTER{
  padding: 1px;
  width: 100%;
  height: auto;
  clear: both;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: gray;
  background-color: #A4A4A4;
  text-align: center;
}

b{
border: 0;
border-radius: 8px;
padding: 1px 25px;
background-color: rgba(0, 0, 0, .5);
color: #fff;
cursor: pointer;
}

.contenedor{
  background-color: Black;
  margin:0 0 0 0px;
}

/*Elementos de la cabecera*/

#inicioBoton{
  float:left;
}

#login{
  float:right;

}

#registrar{
  float: right;
}

.brazoIzquierdo{
  width: 15vw;
  height: 100%;
  background-color:gray;
  float: left;
  padding: 1em;
  margin: 0px;
}

.brazoDerecho{
  width: 10%;
  height: 100%;
  background-color: gray;
  float:right;
  margin: 0px;
}

.cuerpo{
width: 100%;
height: 100%;
color: white;
padding-top: 4vh;
}

#pie{
clear: both;
font-family: "Lato", sans-serif;
font-size: 12px;
color: gray;
background-color: #A4A4A4;
text-align: center;
}

.texto{
  background-color: white;
  text-align: center;
    border-color: black;
    border-width: medium;
    border-style: solid;
    border-radius: 24px;

}
