body{
  margin: 0px;
}

HEADER{
  width: auto;
  height: 10vh;
  background-color: #084B8A;
  color: black;
  position: -webkit-sticky; /* Safari navegador, para que sirva en IOs */
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 5px;
}

HEADER img{
  width: auto;
  height: auto;
}

FOOTER{
  padding: 10px;
  width: auto;
  height: auto;
  clear: both;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: gray;
  background-color: #A4A4A4;
  text-align: center;
}

.contenedor{
  background-color: Black;
  margin:0 0 0 0px;
}

/*Elementos de la cabecera*/

#inicioBoton{
  float:left;
}

#login{
  float:right;

}

#registrar{
  float: right;
}

#brazoIzquierdo{
  width: 10%;
  background-color: white;
  float: left;
  margin: 0px;
}

.brazoDerecho{
  width: 10%;
  height: 100%;
  background-color: gray;
  float:right;
  margin: 0px;
}

#pie{
clear: both;
font-family: "Lato", sans-serif;
font-size: 12px;
color: gray;
background-color: #A4A4A4;
text-align: center;
}
